:focus {
  outline: 0;
}
.section {
  pointer-events: none;
}

#canvas {
  position: relative;
  left: 0px;
  top: 0px;
}

#game-content {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 10px;
  max-width: 1500px;
  min-width: 500px;
}
div#game-content.hiding {
  display: none;
}

div#game-content.showing {
  display: inline;
}

#chat-container {
  bottom: 0;
  display: block;
  vertical-align: bottom;
  position: absolute;
  margin: auto;
  background-color: rgba(0,0,0,.1);
  font-size: .9em;
  font-family: 'Open Sans';
  color: white;
  text-shadow: 1px 1px #000;
  max-width: 400px;
  min-width: 100px;
}
#chat-text {
  padding-left: 5px;
  min-height: 150px;
  max-height: 150px;
  height: auto;
}
#chat-text::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #888;
}
#chat-text::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
}
#chat-text::-webkit-scrollbar
{
	width: 6px;
}
#chatinput {
  outline: none;
  background-color: rgba(0,0,0,.1);
  text-shadow: 1px 1px #000;
  border: none;
  padding-left: 5px;
}

#ability-container {
  bottom: 0;
  position: absolute;
  right: 0;
}
#ability-bar {
  background-color: rgba(0,0,0,.3);
}
